/* CSS Reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  color: #333;
  line-height: 1.7;
}

a{
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar  */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar .logo a:hover {
  border: none;
}
.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

.navbar a:hover,
.navbar a.current {
  border-bottom: #28a745 2px solid;
  /* background-color: #444; */
}

.navbar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navbar .logo{
  font-weight: 400;
}

/* header */

.hero {
  background: url('../img/blog/blog1.jpg') no-repeat center center/cover ;
  height: 100vh;
  position: relative;
  color: #fff;
}

.hero.blog {
  background: url('../img/home/blog.jpg') no-repeat center center/cover ;
  height: 30vh;
  position: relative;
  color: #fff;
}

.hero .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.hero .content h1 {
  font-size: 55px;
}

.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.hero *{
  z-index: 0;
}

/* icons */

.icons{
  padding: 30px;
}

.icons h3 {
  font-weight: bold ;
  margin-bottom: 15px;
}
.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7 ;
  cursor: pointer;
}

.team img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 20px;
}

 /* Callback form  */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px 10px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* Footer  */ 

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
  margin: 0 15px;
}

.footer a:hover {
  color: #28a745;
}





